In [ ]:
import pandas as pd
music_data = pd.read_excel('music.xlsx')
music_data

    age   gender      genre
0     20       1     hiphop
1     23       1     hiphop
2     25       1     hiphop
3     26       1       jazz
4     29       1       jazz
5     30       1       jazz
6     31       1  classical
7     33       1  classical
8     37       1  classical
9     20       0      dance
10    21       0      dance
11    25       0      dance
12    26       0   acoustic
13    27       0   acoustic
14    30       0   acoustic
15    31       0  classical
16    34       0  classical
17    35       0  classical

In [ ]:
#splitting data into input and output - y=f(x)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
x=music_data.drop(columns=['genre'])
y=music_data['genre']
model=DecisionTreeClassifier()
model.fit(x, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model.predict([ [21,1], [24,0]])

array(['hiphop', 'dance'], dtype=object)